{% extends "base.html" %}

{% block content %}
<h1 style="display:inline-block">☠️ Fake PTT&nbsp;</h1>
<h2 style="display:inline-block;vertical-align:top"><span class="label label-info">{{ board_name }}</span></h2><br>
<a href="/">
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 返回
  </button>
</a>
<div class="list-group">
  {% for title in titles %}
    <span>
      <a href="/posts/{{ board_name }}/{{ loop.index0 }}" class="list-group-item"><span style="color:chocolate">{{ loop.index }}.</span> {{ title }}</a>
    </span>
  {% endfor %}
</div>
{% endblock %}
